.top-bar {
  background-color: rgb(238, 188, 25);
  color: #fff;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 56px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border-bottom: 1px solid rgb(204, 160, 15);
}
