<div class="fixed-primary-nav-wrapper" #fixedPrimaryNav>
  <ul>
    <li>
      <a routerLink="/">
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
        Home</a
      >
    </li>
    <li>
      <a routerLink="/customers">
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        Customers
      </a>
    </li>
    <li>
      <a routerLink="/info">
        <fa-icon [icon]="['fas', 'info']"></fa-icon>
        Info
      </a>
    </li>
    <li>
      <a routerLink="/settings">
        <fa-icon [icon]="['fas', 'tools']"></fa-icon>
        Settings
      </a>
    </li>
    <li>
      <a routerLink="/help">
        <fa-icon [icon]="['fas', 'question']"></fa-icon>
        Help
      </a>
    </li>
  </ul>
  <div class="handle" (click)="toggleNav()">
    <fa-icon [icon]="['fas',  isOpen? 'caret-left' : 'caret-right']"></fa-icon>
  </div>
</div>
