<div class="account-wrapper">
  <div class="dropdown dropdown-toggle" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <fa-icon [icon]="['fas', 'user']"></fa-icon>
    <div class="dropdown-menu" aria-labelledby="account-dropdown">
      <a class="dropdown-item" href="#">
          <fa-icon [icon]="['fas','user']"></fa-icon>
          Profile
      </a>
      <a class="dropdown-item" href="#">
        <fa-icon [icon]="['fas','tools']"></fa-icon>
        Settings
      </a>
      <a class="dropdown-item" href="#">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
        Sign Out
      </a>
    </div>
  </div>
</div>
